---
layout: default
folder: report
article: narrative
permalink: report/narrative/
---

<div class="page-nav">
  <div class="page-nav-items">
		<a class="page-scroll" href="#report-1">1. Introduction</a>
		<a class="page-scroll" href="#report-2">2. Mare Nostrum’s Demise</a>
		<a class="page-scroll" href="#report-3">3. Institutionalised Neglect</a>
		<a class="page-scroll" href="#report-4">4. In the Rescue Gap</a>
		<a class="page-scroll" href="#report-5">5. April’s Black Week</a>
		<a class="page-scroll" href="#report-6">6. After the Shipwrecks</a>
  </div>
</div>

{% include report.narrative.1.html %}

{% include report.narrative.2.html %}

{% include report.narrative.3.html %}

{% include report.narrative.4.html %}

{% include report.narrative.5.html %}

{% include report.narrative.6.html %}

