---
layout: default
---

<section id="home-hero" style="background-image: url('{{ site.baseurl }}/images/hero.jpg');"> 
	<h1>{{ site.name }}</h1>
</section>

<main id="main" class="site-main" role="main">

	<!-- INTRO -->
	<section>
		<h2 class="centred">Coding can open doors for you</h2>
		<p>Code is a huge part of our daily lives. It powers your phone, your bank account, your social networks... it's everywhere.</p><p class="highlight">Today, all businesses are moving over to digital. It's essential to have a digital presence and for us to understand how that works.</p>
		<!-- <p>Perhaps you teach in a school, dreading the computing curriculum, or your child is learning to code. </p>
		<p>Maybe you work for a large company and want more opportunities to grow, or you run a small business and want to make quick, essential changes to your site without any hassle.</p>
		<p>Maybe you're out of work, in transition or you have an app idea. </p> -->
		<!-- <p><b>Learning to code can empower you.</b></p>
		<p><b>We think it's essential to understand how code works and to make it work for us.</b></p> -->
		<!-- <p>Learning to code will broaden your skills and make you indispensable in the workplace.</p> -->
		<!-- <p>You'll begin to understand the endless possibilities of technology.</p> -->
		<p>Once you know how to code, you can get ideas off the ground and communicate seamlessly with developers (and budding child prodigy programmers).</p>
		<p>People everywhere are realising this and learning to create on the Web. Even in primary schools.</p>
	</section>

	<section>
		<!-- <h2 class="centred">There's a course for that!</h2> -->
		<h2 class="centred">No experience? No problem</h2>
		<!-- <p>New to coding?</p> -->
		<p>Is <span class="handwriting"> learn to code </span> on your list of goals this year?</p>
		<p>It's tough sifting through the endless resources with no-one to direct all your questions.</p>
		<p class="highlight">Learning with others is fun and much easier than hacking away at online courses alone.</p>
		<!-- <p>We're here to make it simple.</p> -->
	</section>

	<section>
		<h2 class="centred">Start with this 6-week course</h2>
		<p>Learn to code with HTML, CSS and JavaScript, the universal languages of the Web. We'll be using the browser to bring your app ideas to life.</p>
		<p class="highlight">Remember: you don't have to struggle on your own.</p>
		<p>Having experts and classmates by your side to troubleshoot with can save you <i>hours</i> of your life. It makes the difference between giving up at the first roadblocks, and gaining the confidence to continue learning after this course.</p>
		<p class="highlight">Join a group of determined, like-minded individuals to discuss, learn and make in a friendly environment.</p>
		<p>The course is aimed at <b>beginners</b>, so you don't need any previous experience with coding to join. We will assume <i>zero knowledge</i> to start with, and introduce you to HTML, CSS and JavaScript whilst you design and prototype an app over 6 Saturdays.</p>
	</section>	

	<!-- IS THIS COURSE FOR ME? -->
	<section>
		<div class="banner-image" style="background-image: url('{{ site.baseurl }}/images/apps_from_scratch_people_1.jpg');">
			<h2 class="centred raised">Is this course for me?</h2>
		</div>

		<h3 class="centred">Teachers</h3>
		<p>We know a few teachers who feel daunted and unsupported by the "new" computing curriculum. </p><p>With a solid knowledge-base and clear vision of how to build on it, you'll look forward to, and even enjoy, coding with your students.</p>

		<h3 class="centred">Parents</h3>
		<p>You could be the cutting-edge parent who codes with their kids for fun!</p><p>Once you grasp the basics of coding, you'll be able to get creative with your children, building cool stuff together and supplementing the things they learn at school.</p>
		
		<h3 class="centred">Up-skillers</h3>
		<p>Perhaps you're looking for ways to make yourself more valuable in the workplace, or 2016 is the year you're going to move to a new position, company or  industry.</p><p>Boosting your tech skills will give you a competitive edge and open up new directions in your career.</p>

		<h3 class="centred">Looking for work</h3>
		<p>Investing in yourself and your skills is a great way to make some positive life changes for 2016. You may want to explore your career options or take a leap outside of your comfort zone.</p><p>In our personal experience, learning to create with code is hugely empowering and can give you a real confidence boost.</p>
	</section>

	<!-- PLAN -->
	<section class="info-panels">
		<h2 class="centred">What's the plan?</h2>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_1.jpg');">
				<p class="number">01</p>
			</div>
			<div class="col-1-2 info-panel-blurb"> 
				<h3>What is an app?</h3>
				<p>On the first day we discuss key concepts around apps (interface, logic, data) and start making with HTML & CSS.</p>
			</div>
		</div>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_2.jpg');">
				<p class="number">02</p>
			</div>
			<div class="col-1-2 info-panel-blurb"> 
				<h3>UX research</h3>
				<p>We work together to generate, spec out and test your app ideas. Then start programming with JavaScript.</p>
			</div>
		</div>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_3.jpg');">
				<p class="number">03</p>
			</div>
			<div class="col-1-2 info-panel-blurb">
				<h3>UI design</h3> 
				<p>You'll apply your research to sketch out how your app looks and behaves on paper. Then you'll make digital wireframes.</p>
			</div>
		</div>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_4.jpg');">
				<p class="number white">04</p>
			</div>
			<div class="col-1-2 info-panel-blurb">
				<h3>Programming 101</h3>
				<p>You'll present your app designs and we'll review them together. Then get into the core concepts of programming.</p>
			</div>
		</div>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_5.jpg');">
				<p class="number white">05</p>
			</div>
			<div class="col-1-2 info-panel-blurb"> 
				<h3>JS tricks</h3>
				<p>You will use JavaScript <i>libraries</i> to speed up your development and learn how to troubleshoot your code, aka <i>debugging</i>.</p> 
			</div>
		</div>
		<div class="grid grid-pad single-info-panel">
			<div class="col-1-2 info-panel-image" style="background-image: url('images/apps_from_scratch_6.1.jpg');">
				<p class="number">06</p>
			</div>
			<div class="col-1-2 info-panel-blurb">
				<h3>Celebrate</h3>
				<p>Tweak your app prototype. Celebrate your achievements, and take away free resources to continue your learning journey.</p> 
				<p></p>
			</div>
		</div>
	</section>	

	<!-- HOW MUCH?  -->
	<section class="how-much">
		<h2 class="centred">How much?</h2>
		<h3 class="subtitle centred">Affordable coding classes in London</h3>
		<table>
			<tr>
				<td><p>Non-Greenwich resident</p></td>
				<td><p><b>£97.40</b></p></td>
			</tr>	
			<tr>
				<td><p>Greenwich resident without a Greenwich Card</p></td>
				<td><p><b>£91.07</b></p></td>
			</tr>
			<tr>
				<td><p>Greenwich Card holder</p></td>
				<td><p><b>£83.48</b></p></td>
			</tr>
			<tr>
				<td><p>Greenwich resident over 60 years of age</p></td>
				<td><p><b>£54.36</b></p></td>
			</tr>
			<tr>
				<td><p>Greenwich resident on means-tested benefits</p></td>
				<td><p><b>£26.51</b></p></td>
			</tr>
			<tr>
				<td><p>Greenwich school teacher</p></td>
				<td><p><b>£26.51</b></p></td>
			</tr>
		</table>
		
	</section>
	
	<!-- WHEN & WHERE? -->	
	<section class="when-where">
		<h2 class="centred">When and where?</h2>
		<div class="grid grid-pad">
			<div class="col-1-2 mobile-col-1-1">
				<h3>6 Saturdays</h3>
				<p>16th April - 21st May 2016</br>11AM - 4PM</p>
			</div>
			<div class="col-1-2 mobile-col-1-1">
				<h3>Ravensbourne</h3>
				<p>6 Penrose Way</br>Greenwich Peninsula</br>London</br>SE10 0EW</p>
			</div>
		</div>
	</section>

	<!-- WHO'S TEACHING? -->
	<section>
		<h2 class="centred">Who's teaching?</h2>
		<p><b><a href="https://twitter.com/@baddeo">Matteo</a></b> is a senior lecturer for <a href="https://twitter.com/RaveWebMedia">Web Media at Ravensbourne</a> with loads of experience building apps and educational games. He loves teaching and has near-infinite patience.</p>
		<p><b>Yuki</b> is a self-taught JavaScript ninja and a senior developer at <a href="http://www.themill.com/">The Mill</a>. He has plenty of inspiring links and JS tricks to share.</p>
		<p><b><a href="http://aimeemj.com">Aimee</a></b> makes websites and clothes. She was in your shoes a year ago, reads puzzled faces and knows when to slow down the pace.</p>
	</section>	

	<!-- WHAT TO BRING? -->
	<section class="what-to-bring">
		<!-- <h2 class="centred">What do I need to bring?</h2> -->
		<div class="banner-image" style="background-image: url('{{ site.baseurl }}/images/apps_from_scratch_session.jpg'); background-position-x: right;">
			<h2 class="centred">What do I need to bring?</h2>
		</div>
		<p>If you have a <b>laptop</b> which you're used to, please bring that with you. Make sure you have <a href="https://www.google.com/chrome/">Google Chrome</a> installed. Otherwise, MacBook laptops will be available for you to use whilst at Ravensbourne.</p>
		<p>We also recommend bringing a <b>notebook and pen</b> for jotting down useful resources and capturing your ideas.</p>
	</section>		

	<!-- TESTIMONIALS -->
	<section class="testimonials">
		<h2 class="centred">What are people saying?</h2>
		<div class="grid grid-pad">
			{% for post in site.categories.testimonials %}
			<div class="col-1-2 mobile-col-1-1 single-testimonial">
				{{ content }}
				{% include home-testimonial-snippet.html %}
			</div>
			{% endfor %}
		</div>

	</section>
		
</main>
