<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-header">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1noreport-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>

      <div class="logos">
        <!-- <a href="https://www.amnesty.org" target="_blank">
          <span class="ai"></span>
        </a>
        <a href="fa" target="_blank">
          <span class="fa"></span>
        </a> -->
        <div class="title">
          {{ site.name }}
        </div>
      </div>
    </div>
      
    <div class="collapse navbar-collapse navbar-ex1noreport-collapse">
      <div class="menu-1">
        <h5>
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a class="page-scroll" href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll menu-summary page-scroll-active" href="{{ site.baseurl }}">Foreword</a>
            </li>
            <li>
              <a class="page-scroll menu-summary page-scroll-not" href="{{ site.baseurl }}/summary">Summary</a>
            </li>
            <li>
              <a class="page-scroll menu-report page-scroll-not" href="{{ site.baseurl }}/report">Report</a>
            </li>
            <li>
              <a class="page-scroll menu-cases page-scroll-not" href="{{ site.baseurl }}/cases">Annexes</a>
            </li>
          </ul>
        </h5>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>