<!--  IMAGES   -->

    		{%  include image-block.html 
                
            fileName="CHANGE_THIS" 

            caption="CHANGE_THIS" 
        %}


        style="margin-top:1.5rem;"

<!--  VIMEOS   -->

        {%  include vimeo-block.html 
                
            videoID="1234567" 

            caption="CHANGE_THIS" 
        %}

<!--  SUPS     -->

        {%  include footnote-block.html

            content="CHANGE_THIS" 
        %} 

<!--  ANNEXES LINK     -->

  			<a href=#>annex</a>
