/*    MAILCHIMP FORM   */

#mc_embed_signup
{
	clear:left;
	margin: 0;
	padding: 2rem 12rem 3rem;
	// padding: 2rem 5rem;

	input[type="submit"]
	{
		border: 3px solid;
	}

	.mc-field-group
	{
		width: 47%;
		float: left;
		margin: 0.5rem;
		clear: none;
	}

	form
	{
		padding: 0;
	}
}

#mc-embedded-subscribe
{
	margin: 2rem auto;
}